@model asp_filmes.Models.cl_filmes

@{
    ViewBag.Title = "Cadastro Ator";
}

<h2>Cadastro - Ator</h2>

@using (Html.BeginForm("cad_ator", "Home", FormMethod.Post, new {enctype = "multipart/formdata" }))
{

    @Html.LabelFor(m => m.nome_ator)
    <br />
    <br />
    @Html.EditorFor(m => m.nome_ator)
    <br />
    <br />
    @Html.LabelFor(m => m.data_nasc_ator)
    <br />
    <br />
    @Html.EditorFor(m => m.data_nasc_ator)


    <input type="submit" value="Cadastrar" />

}